<template>
  <div id="app" :style="styleObject">
    <form
      action="/fake-endpoint-to-get-GO-button-on-iOS"
      method="post"
      @submit.prevent="handleSubmit">
      <label>
        <div>Your Github/Gitlab Username</div>
        <input
          type="text"
          v-model="username"
          placeholder="e.g. johnsardine"
          autocapitalize="none"
          autocomplete="username"
          required>
        <button type="submit" :disabled="loading">Assign tower</button>
      </label>
    </form>
    <button
      type="button"
      v-if="evaluationResults"
      @click="submitWithRandomID"
      :disabled="loading">Random</button>

    <h3 v-html="assignmentMessage"></h3>

    <p v-show="loading">Evaluating…</p>
  </div>
</template>

<script>
import Axios from 'axios';

export default {
  name: 'app',
  data: () => ({
    username: '',
    loading: false,
    evaluationResults: null,
  }),
  computed: {
    assignmentMessage() {
      const {
        evaluationResults,
      } = this;
      if (!evaluationResults) {
        return 'Write your username to see your tower assignment';
      }
      const {
        variantKey,
      } = evaluationResults;

      if (variantKey) {
        return `Go to <var>${variantKey}</var>`;
      }

      return 'Sorry, we don\'t have a seat for you';
    },
    assignedColor() {
      const {
        evaluationResults,
      } = this;
      if (!evaluationResults) {
        return '';
      }
      const {
        variantAttachment: {
          color = 'silver',
        } = {},
      } = evaluationResults;

      return color;
    },
    styleObject() {
      return {
        backgroundColor: this.assignedColor,
      };
    },
  },
  methods: {
    async handleSubmit() {
      this.loading = true;
      const response = await Axios.post('https://flagr.tools.unbabel.com/api/v1/evaluation', {
        entityID: this.username.toLowerCase(),
        entityType: 'employee',
        entityContext: {
          username: this.username.toLowerCase(),
        },
        flagKey: 'hat_demo_flag',
      });
      this.evaluationResults = response.data;
      this.loading = false;
    },
    submitWithRandomID() {
      const randomEmployeeNumber = Math.round(1 + Math.random() * 160);
      if (randomEmployeeNumber === 6) {
        this.username = 'andreffs18';
      } else {
        this.username = `employee-nr-${randomEmployeeNumber}`;
      }
      this.handleSubmit();
    },
  },
};
</script>

<style lang="scss">
body,
html {
  margin: 0;
  overflow: hidden;
}
#app {
  overflow: hidden;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 2rem;
  color: #2c3e50;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  line-height: 1.4em;

  var {
    text-decoration: underline;
  }
}
</style>
